<div class="navigation ">
	<ul class="navbar-list " id="navbar-list">
		<li class=""><a href="" class="">Home</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Links</a></li>
	</ul>
</div>

<section class="title">
	<h1>Lorem ipsum dolor sit amet!</h1>
	<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dicta placeat pariatur rerum modi qui?</h4>
	<p class="mybutton border3">Button!</p>
</section>

<section>
	<h2>Lorem 1</h2>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos et neque sapiente earum veritatis fugiat tenetur consectetur incidunt facere. Repudiandae, ratione. Ducimus, voluptates. Unde ad repellat obcaecati deserunt, velit numquam sint nihil esse tempora veritatis? Vel eum magnam, obcaecati iusto mollitia ex, impedit praesentium est, minima culpa debitis exercitationem ratione?
</section>

<section>
	<h3>Lorem 2</h3>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis nulla saepe nobis deleniti repellendus natus quo! Quidem, tempore perspiciatis officiis culpa sapiente modi error soluta et quod similique sunt praesentium dolores inventore maxime corrupti nemo maiores minima autem perferendis iste, optio quis! Magnam, labore omnis!
</section>

<section>
	<h3>Lorem 3</h3>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, assumenda fugiat? Itaque quisquam aperiam exercitationem quis incidunt sint culpa nulla laudantium nostrum debitis quia excepturi ad rerum expedita officiis, earum ut alias facilis delectus? Repellendus unde dicta, adipisci odio eos suscipit id iure officia soluta ea quae facilis eum saepe cum quasi sint quia, quisquam ut aspernatur qui at quidem?
</section>

<section class="thirds ">
		<h5 class="">
			<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, voluptate fugiat nisi quasi praesentium sit iusto officia nihil quam, similique nulla numquam eveniet doloribus iste cumque quia quos consequuntur laudantium esse corporis ad. Maxime impedit asperiores unde natus nesciunt ipsam.</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni similique delectus minus ea ullam exercitationem quasi, sint cum qui neque ipsam veniam, inventore earum corporis, consectetur voluptate pariatur voluptas enim?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequatur veniam eum, praesentium veritatis doloribus mollitia fugit ut beatae sunt. Consequatur omnis corrupti nihil! Accusantium, minus. Hic libero officia at nobis eum quisquam magnam laudantium iusto. Ex adipisci pariatur explicabo corporis ullam exercitationem neque? Libero itaque cupiditate ex velit modi.</p>
		</h5>
	</section>
